body {
	background: #111;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', 'Georgia', serif;
}

a {
	display: inline;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: solid 0px;
}

a:hover {
	border-bottom: solid 1px;
}

video#vid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
	opacity: 0;
}

#bar {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 2px;
}

#main {
	opacity: 0;
	position: fixed;
	left: 0px;
	top: 20%;
	width: 46%;
	padding: 0px 27%;
	color: #FFF;
	font-size: 20px;
	line-height: 35px;
	font-weight: 100;
}

.mobile {
	font-size: 15px !important;
	width: 90% !important;
	top: 5% !important;
	padding: 0px 5% !important;		
}

#adventure {
	width: 5px;
	height: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	-webkit-transition: width 100ms, height 100ms, right 100ms, bottom 100ms;
	-moz-transition: width 100ms, height 100ms, right 100ms, bottom 100ms;
	-o-transition: width 100ms, height 100ms, right 100ms, bottom 100ms;
	transition: width 100ms, height 100ms, right 100ms, bottom 100ms;
}

#adventure:hover {
	width: 11px;
	height: 11px;
	right: 7px;
	bottom: 7px;
}