body {
	background-color: #FFF;
	margin: 0;
	padding: 0;
	font-family: 'Old Standard TT', serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
	color: #123f4c;
	padding-bottom: 1px;
	border-bottom: 1px solid rgba(129, 145, 153, 0.4);

	-webkit-transition: border-bottom 100ms, padding-bottom 100ms;
	-moz-transition:  border-bottom 100ms, padding-bottom 100ms;
	-ms-transition:  border-bottom 100ms, padding-bottom 100ms;
	-o-transition:  border-bottom 100ms, padding-bottom 100ms;
	transition:  border-bottom 100ms, padding-bottom 100ms;
}

a:hover {
	border-bottom: 1px solid #123f4c;	
	padding-bottom: 2px;
}

#container {
	color: #123f4c;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.05);

	position: absolute;
	left: 50%;
	top: 25%;
	width: 300px;
	margin-left: -150px;

	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}
