body {
	background: #111;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#container {
	width: calc(100% - 40px);
	padding: 20px;
	max-width: 1000px;
	overflow: hidden;
}

#header {
	text-align: left;
	margin-top: 75px;
	max-width: 500px;
}

h1 {
	margin: 0px;
	padding: 0px;
	color: #FFF;
	font-weight: 100;
	font-size: 100px;
	font-style: italic;
	text-transform: uppercase;
}

p {
	color: #797979;
	margin-top: 25px;
	font-size: 12px;
	line-height: 18px;
}

a {
	text-decoration: none;
	color: #909090;
	border-bottom: 1px solid #3F3F3F;
	padding-bottom: 2px;
}

a:hover {
	color: #FFF;
	border-bottom: 1px solid #909090;
}


ul {
	list-style: none;
	clear: left;
	float: left;
	margin: 75px 0px;
	padding: 0px;
	position: relative;
	left: 50%;
	text-align: center;
}

ul li {
	display: block;
	float: left;
	list-style: none;
	border: 1px solid #111111;
	width: 100px;
	height: 100px;
	margin: 0px;
	padding: 20px 10px 10px 10px;
	position: relative;
	right: 50%;

	-webkit-transition: border 150ms ease-in-out;
	-moz-transition: border 150ms ease-in-out;
	-ms-transition: border 150ms ease-in-out;
	-o-transition: border 150ms ease-in-out;
	transition: border 150ms ease-in-out;
}

li:hover {
	border: 1px solid #1A1B1F;
}

img {
	width: 32px;
	height: 32px;
}

.info {
	width: 100%;
	color: #797979;
	text-align: center;
	font-size: 11px;
	opacity: 0;
	-webkit-transition: opacity 150ms ease-in-out;
	-moz-transition: opacity 150ms ease-in-out;
	-ms-transition: opacity 150ms ease-in-out;
	-o-transition: opacity 150ms ease-in-out;
	transition: opacity 150ms ease-in-out;
}

li:hover .info {
	opacity: 1;
}

.info a {
	border: none;
}