body {
	background: #111;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#container {
	width: calc(100% - 40px);
	padding: 20px;
	max-width: 500px;
	overflow: hidden;
}

#header {
	text-align: left;
	margin-top: 75px;
}

h1 {
	margin: 0px;
	padding: 0px;
	color: #FFF;
	font-weight: 100;
	font-size: 100px;
	font-style: italic;
	text-transform: uppercase;
}

p {
	color: #797979;
	margin-top: 25px;
	font-size: 12px;
	line-height: 18px;
}

a {
	text-decoration: none;
	color: #909090;
	border-bottom: 1px solid #3F3F3F;
	padding-bottom: 2px;
}

a:hover {
	color: #FFF;
	border-bottom: 1px solid #909090;
}


ul {
	list-style-type: none;
	margin: 75px 0px;
	padding: 0px;
	overflow: hidden;
}

li {
	float: left;
	padding: 10px;
	border: 1px solid #1A1B1F;
	cursor: pointer;
}

li, img {
	width: 32px;
	height: 32px;
}

li:hover {
	border: 1px solid #FFF;
}

#selected {
	border-top: 1px solid #565656;
	background: rgba(17,17,17,0.97);
	position: fixed;
	width: 100%;
	height: 32px;
	padding: 10px 0px;
	left: 0px;
	bottom: 0px;
	display: none;
}

#selected span {
	height: 32px;
	display: table-cell;
	vertical-align: middle;
}

#selected a {
	text-transform: uppercase;
	margin: 0px 20px;
	font-size: 12px;
	line-height: 12px;
	border: none;
}

#selected img {
	position: absolute;
	top: 10px;
	lefT: 10px;
}